#file-list-container
  flex-grow: 1
  overflow: auto
  position: relative

  // 列表视图样式
  &.list-view
    .file-list-list
      display: table
      width: 100%
      border-collapse: separate
      border-spacing: 0

      .file-item
        display: table-row
        transition: background-color 0.2s
        &:hover
          background-color: #f0f0f0
        &>*
          display: table-cell
          padding: 8px 12px
          vertical-align: middle

      .file-icon
        width: 24px
        padding-right: 16px
      
      .file-name
        width: 40%
      
      .file-size
        width: 20%
        text-align: right
      
      .file-date
        width: 25%
        text-align: right
      
  // 图标视图样式
  &.icon-view
    display: flex
    flex-wrap: wrap
    padding: 20px
    justify-content: flex-start

    .file-item 
      width: 100px
      height: 100px
      margin: 10px
      display: flex
      flex-direction: column
      align-items: center
      justify-content: flex-start
      text-align: center
      transition: background-color 0.2s
      border-radius: 8px
      padding: 10px 10px
      &:hover
        background-color: #f0f0f0

    .file-icon
      width: 64px
      height: 64px
      margin-bottom: 10px
      display: flex
      align-items: center
      justify-content: center
      i
        font-size: 48px
        
    .file-name
      word-break: break-word
      text-align: center
      max-width: 100%
      font-size: 12px·
      // line-height: 1.2
      // max-height: 2.4em
      overflow: hidden
      text-overflow: ellipsis
      display: -webkit-box
      -webkit-line-clamp: 2
      -webkit-box-orient: vertical
      line-clamp: 2
      box-orient: vertical

  // 分组视图样式
  &.group-view
    display: flex
    flex-direction: column

    #file-list
      display: grid
      padding: 0
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)) 
      align-items: stretch

      .file-list-group
        position: relative
        width: 100%
        box-sizing: border-box 
        padding: 30px
        padding-top: 15px
        border: 1px solid #f5f5f5
        border-left: none
        display: inline-block
        vertical-align: top

        .file-list-group-header
          background-color: #f9f9f9
          font-weight: bold
          display: flex
          column-gap: 10px
          justify-content: space-between
          align-items: center
          padding: 10px
          border-radius: 6px
          position: sticky
          top: 0
          z-index: 1
          &:hover
            background: #acacac

          .group-count
            font-size: 0.8em
            color: #919191

          .group-sort-buttons
            position: absolute
            top: 5px
            right: 5px
            display: none
            .group-sort-button
              background: none
              border: none
              cursor: pointer
              padding: 2px
              margin-left: 5px
              i
                font-size: 14px


        .file-list-group-content
          display: flex
          max-height: 300px
          overflow-y: auto
          padding: 6px
          flex-direction: column
          &::-webkit-scrollbar
            width: 5px // 设置滚动条的宽度
          &::-webkit-scrollbar-track
            background: #ffffff // 滚动条轨道的背景颜色
            border-radius: 10px // 轨道的圆角
          &::-webkit-scrollbar-thumb
            background: #bebebe // 滚动条的颜色
            border-radius: 10px // 滚动条的圆角
            &:hover
              background: #838383 // 鼠标悬停时的颜色

          .file-item
            box-sizing: border-box
            width: 100%
            display: flex
            flex-direction: row
            align-items: center
            border-radius: 6px
            margin:3px 0
            justify-content: center
            transition: background-color 0.15s
            &:hover
              background-color: rgb(240,240,240)

            .file-icon
              width: 25px

            .file-name
              font-size: 15px
              width: 100%
              white-space: nowrap
              overflow: hidden
              text-overflow: ellipsis
            
            .file-size
              display: none
            
            .file-date
              display: none
        
      

      &:hover
        .group-sort-buttons
          display: block
        
      

      .folder-item
        display: flex
        align-items: center
        padding: 5px
        cursor: pointer
        transition: background-color 0.2s

        &:hover
          background-color: #f5f5f5
        
      

      .folder-icon
        width: 24px
        height: 24px
        margin-right: 5px
        display: flex
        align-items: center
        justify-content: center

        i
          font-size: 18px
          color: #ffd700
        
      

      .folder-name
        flex-grow: 1
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
        font-size: 14px
      
